@font-face {
    font-family: open-sans-r;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: open-sans-b;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
  }


.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.header_container {
    width: 70.5%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 28px;
}

.list {
    list-style: none;
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_link { 
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 35px;
}

.menu_link:hover {
    text-decoration: underline;
}

.menu_link-last {
    margin-right: 0px;
}

.header_title {
    max-width: 700px;
    text-align: center;
    font-family: open-sans-b, sans-serif;
    font-size: 45px;
    line-height:1.6;
    text-transform: uppercase;
    color: #ffffff;
    margin: 142px auto 0;
    padding-bottom: 147px;
}

.header::after {
    content: "";
    z-index: -1;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header_logo-pic-mobile {
    display: none;

}

.burger__menu {
    display: none;
}

@media screen and (max-width: 1199px) {
	.burger__menu {
		display: block;
		width: 1.25em;
		height: 1em;  
		border: none;
		background-color: transparent;
		font-size: 20px;
		position: relative;
		text-indent: -9999px;
		cursor: pointer;
	}
	.burger__menu:hover, .burger__menu:focus {
	border: none;
	outline: 1px solid #b59f5b;
	outline-offset: 10px;
}
	.burger__menu:before, .burger__menu:after {
		content:"";
		width: 100%;
		height: 20%;
		border-radius: 5px;
		background-color: #ffffff;  
		position: absolute;
		left: 0;
	}

	.burger__menu:before {
		top: 0;

	}
	.burger__menu:after {
		bottom: 0;
	}

	.burger__menu-label {
		width: 100%;
		height: 20%;
		margin-top: -0.1em;  
		background-color: #ffffff;  
		position: absolute;
		left: 0;
	}

    .list {
        display: none;
    }
}


.page {
    max-width: 1170px;
    margin: 64px auto;
}

.popup {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.popup__wrapper {
    position: relative;
    padding: 30px 20px;
    background-color: white;
}

.popup__feedback {
    font-size: 12px;
    margin-top: 24px;
}

.feedback__forms {
    margin-top: 30px;
}

.feedback__form {
    margin-bottom: 34px;
}

.question__select {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 13px 10px;
    font-size: inherit;
    color: grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #f3f2f2 url(./svg/form-arrows.svg) no-repeat right 10px center;
    background-size: 8px;
}

.question-select:focus,
.question-select:hover {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}
.form-hint {
	display: block;
	margin-bottom: 10px;
}
.radio-group {
	display: inline-block;
}
.radio-group:nth-of-type(n+2) {
	margin-left: 5px;
}
.radio-group-text::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background: url("./svg/form-empty-circle.svg") no-repeat center center;
	background-size: 100%;
}
.radio {
	position: absolute;
	height: 1px;
	width: 1px;
}
.radio:checked ~ .radio-group-text::before {
	background-image: url("./svg/form-circle.svg");
}
.form-textarea {
	width: 100%;
	min-height: 133px;
	padding: 10px;
	margin-top: 10px;
	font: inherit;
	color: grey;
	background-color: #f3f2f2;
	border: none;
}
.form-textarea:hover,
.form-textarea:focus {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}
.popup-button {
	width: 100%;
	padding: 15px;
	font-size: inherit;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #b59f5b;
	border: none;
    margin-bottom: 24px;
}
.popup-button:focus,
.popup-button:hover {
	outline: 2px solid #b59f5b;
	outline-offset: 4px;
	color: black;
}
.popup__close-btn {
	position: absolute;
	top: -39px;
	right: 0;
	width: 27px;
	background-color: transparent;
	border: none;
}

.trends {
    margin-top: 3.81%;
}

.section_title {
    text-align: center;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.section_title::after{
    content:"";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background:#b59f5b;
  }

.trends__cards-wrapper {
    margin-top: 1.72em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trends__card {
min-height: 230px;
width: calc(25% - 4px);
z-index: -999;
display: flex;
align-items: flex-end;
padding: 7.7% 20px 20px;
}

.trends__card-background-one {
    background-image: url(../netology-project1/images/trend1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}

.trends__card-background-two {
    background-image: url(../netology-project1/images/trend2.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}

.trends__card-background-three {
    background-image: url(../netology-project1/images/trend3.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}

.trends__card-background-four {
    background-image: url(../netology-project1/images/trend4.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}

.trends__card::after {
    content: "";
    z-index: -1;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.trends_text {
    border: solid 3px rgba(181, 159, 91, 0.6);
    width: 100%;
    padding: 40px 40px 35px 30px;
}

.trends__card-link {
    font-family: open-sans-b;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.main_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main__wrapper {
    display: flex;
}

.news__section {
    display: flex;
    flex-direction: column;
}

.news_card {
    display: flex;
    margin-bottom: 60px;
}

.news_pic {
    margin-right: 30px;
}

.news_info {
    display: flex;
    flex-direction: column;
    max-width: 367px;
}

.card_tags {
    display: flex;
    list-style: none;
}

.tag_link {
    font-family: open-sans-b;
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 19px;
}

.tag_link:hover {
    text-decoration: underline;
}

.card_title {
    margin-top: 15px;
}

.title_link {
    font-family: open-sans-b;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.title_link:hover {
    color: #b59f5b;
}

.news-text-meta {
    margin: 37px 0 51px;
}

.date {
    font-family: open-sans-r;
    color: #888888;
    font-size: 12px;
    margin-right: 15px;
}

.author {
    font-family: open-sans-b;
    color: black;
    font-size: 12px;
}

.news_text {
    font-family: open-sans-r;
    color: black;
    font-size: 15px;
}

.news_text-double {
    margin-top: 17px;
}

.aside_wrapper {
    width: 271px;
}

.new_posts-img { 
    width: 70px;
    margin-right: 20px;
}

.aside_title {
    text-align: center;
    margin-bottom: 0px;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.aside_title::after{
    content:"";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background:#b59f5b;
  }

.new_posts {
    margin-bottom: 61px;
  }

.new_post {
    display: flex;
    margin-top: 22px;
}

.new_posts_text {
    display: flex;
    flex-direction: column;
}

.new_posts_link {
    font-family: open-sans-b;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

.search {
    margin: 60px 0 62px;
    display:flex;
  }

.search-button{
    border: none;
    width: 47px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color:#b59f5b;
  }

  .search-button:hover {
    background-color:#323232;
  }

.search-field {  
    box-sizing: border-box;
    padding-left: 18px;
    width: 222px;
    height: 47px;
    border: none;
    background-color:#f4f7f6;
  }

  .mailing-button{
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color:#b59f5b;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
    }

    .mailing-button:hover {
        background-color:#323232;
      }
    
  .mailing-field{  
    box-sizing: border-box;
    padding-left: 18px;
    margin-top: 23px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
  }

  .tags {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
  }

  .tags_item {
    margin: 26px 3px 0;
  }

  .tags_link {
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 7px 11px;
  }

  .aside_themes {
      margin-top: 61px;
  }

  .themes {
      list-style: none;
  }

  .themes_item {
    margin: 14px 0px 0px 3px;
  }

  .themes_link {
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    color: #000000;
    font-size: 14px;
    padding:0 5px 0 0;
  }

  .themes_item::after{
    content:"";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background:#eeeeee;
  }

  .themes_counter {
    display: inline-block;
    vertical-align: top;
    color:#b59f5b;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
  }

.footer_wrapper {
    display: flex;
    justify-content: center;
    background-color: #f4f7f6;
    max-width: 1170px;
    margin: 0 auto 74px;
}

.shop {
    margin-top: 4px;
}

.shop__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    justify-content: space-between;
}

.shop__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.5%;
}

.shop__card-img_wrp {
    max-width: 300px;
}

.shop__card-title {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
}

.shop__card-text {
    margin-bottom: 20px;
}

.shop__card-info {
    font-size: 15px;
    line-height: 1.46;
}

.shop__card-link {
    font-family: open-sans-b;
    text-decoration: none;
    color: #b59f5b;
    font-size: 15px;
}

.shop__card-old_price {
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-decoration: line-through;
}

.shop__card-new_price {
    font-family: open-sans-b, sans-serif;
    font-size: 20px;
}

.shop__price-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__card-button {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color:#ffffff;
    display: inline-block;
    background: #b59f5b;
    padding: 20px 30px;
    text-decoration: none
}

.shop__card-text_wrp {
    flex-grow: 1;
    padding: 40px 20px 25px 20px;
    margin-top: -30px;
    border: 3px solid rgba(181, 159, 91, 0.7);
}

.footer_icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.footer_link {
    display: block;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    margin: 32px 0;
}

.footer_link_dribbble {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.footer_link_pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.footer_link_tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
    display: block;
    text-decoration: none;
    color:#999999;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
  }

  .hidden {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .header {
    background-image: url(./images/banner-bg-tablet.jpg);
    }

    .header_container {
        width: 90.8%;
    }

    .header_logo-pic {
        width: 157px;
    }

    .header_title {
        max-width: 600px;
        margin: 105px auto 0 auto;
        font-size: 40px;
        line-height: 1.375;
    }

    .main_content {
        width: 90%;
    }

    .news_card {
        flex-direction: column;
        margin-bottom: 41px;
    }

    .trends__card {
        width: calc(50% - 2.5px);
        margin-bottom: 4px;
    }

    .trends__card-link {
        font-size: 17px;
    }

    .page {
        margin: 46px auto 25px;
    }

    .news__section {
        margin-right: 35px;
    }

    .news_pic {
        max-width: 391px;
        width: 100%;
    }

    .news_info {
        max-width: 391px;
        margin-top: 16px;
        padding-bottom: 19px;
    }

    .news-text-meta {
        margin-bottom: 37px;
    }

     .news_card-border {
         border-bottom: solid 3px rgba(122, 122, 122, 0.2);
    }

    .title_link {
        font-size: 17px;
    }

    .shop {
        max-width: 90.8%;
        margin: 24px auto 0;
    }

    .shop__card {
        width: calc(50% - 13.5px);
        margin-bottom: 25px;
    }

    .shop__card-img_wrp {
        width: 87%;
    }

    .shop__card-title {
        font-size: 17px;
    }

    .footer_wrapper {
        max-width: 90.8%;
    }
}

@media screen and (max-width: 640px) {

    .header_logo-pic {
        display: none;
    }
	
	.header_logo-pic-mobile {
        display: block;
        text-align: center;
        margin: 175px auto 0 auto;
        width: 180px;
    }

    .header {
        min-height: 640px;
        background-image: url(./images/banner-mobile.jpg)
    }

    .header_title {
        max-width: 290px;
        font-size: 26px;
        margin: 45px auto 0 auto;
    }

    .header_container {
        width: 94.7%;
    }

    .trends__card {
        width: 100%;
        margin-bottom: 3px;
    }

    .main_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 91%;
        margin: 0 auto;
    }

    .section_title {
        font-size: 16px;
    }

    .trends {
        margin-top: 40px;
    }

    .trends__card-link {
        font-size: 16px;
    }

    .trends__card-title {
        margin-top: 13.5px;
    }

    .trends_text {
        padding: 29px 15px 29px 15px;
    }

    .page {
        margin: 40px auto 17px;
    }

    .news__section {
        margin: 0 auto;
        max-width: 328px;
    }

    .news_card {
        flex-direction: column;
        margin: 0 0 35px;
    }

    .news_card-border {
        border-bottom: solid 3px rgba(122, 122, 122, 0.2);
   }

    .news_pic {
        max-width: 100%;
        margin: 0;
    }
    
    .news_info {
        margin-top: 16px;
        padding-bottom: 19px;
    }

    .title_link {
        font-size: 16px;
    }

    .news-text-meta {
        margin-top: 24px;
        margin-bottom: 21px;
    }

    .shop__wrapper {
        flex-direction: column;
    }

    .aside_wrapper {
        margin: 0 auto;
        width: 320px;
    }

    .shop {
        width: 91.5%;
        margin: 44px auto 0;
    }

    .shop__card {
        width: 100%;
        margin-bottom: 26px;
    }

    .footer_wrapper {
        width: 91.5%;
    }

    .popup__wrapper {
        width: 90%;
    }